{% extends "sun_tzu/base.html" %}
{% load static %}
{% load sun_tzu_extras %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock %}

{% block body_block %}
<div class="container" align = "center" id="main">
	<h2>Game {{ game.game_id }} - Turn {{game.turn}}</h2>
		<div class="col-sm-4"><h2 class="player_one">{{game.player_one.user.username}}</h2> </div>
		<div class="col-sm-4"><h2>Score: <span class="{{game.score_color}}">{{game.score}}</span></h2> </div>
		<div class="col-sm-4"><h2 class="player_two">{{game.player_two.user.username}}</h2></div>
		<div class="row" id="control_panel">
			{% if player_object.can_move and player_logged_in and not over%}
			<h4>Cards to play</h4>
				<form method="POST">
				{%csrf_token%}
				{% for province in game.province_set.all %}
					<label for="{{province.name}}-select">{{province.name}}</label>
					<select name="{{province.name}}-select" id="{{province.name}}-select">
						{% for card in player_object.hand %}
						<option value="{{card.id}}">{{card.card_value}}</option>
						{% endfor %}
					</select>
				{% endfor %}
				<input type="submit" name="button" value="Play Cards">
				</form>
				{% if not valid %}
					<p>A card cannot be played in multiple provinces.</p>
				{% endif %}
				{% if sixes_error %}
					<p>A 6 cannot be played in the same province twice in one game.</p>
				{% endif %}			
			{% elif player_object.can_pick and player_logged_in and not over %}
				<h4>Next Cards</h4>
					<form method="POST">
						{%csrf_token%}
						{% for card in player_object.next_cards %}
							<label class="checkbox-inline"><input type="checkbox" name="{{card.id}}-select" value={{card.id}}>{{card.card_value}}</label>
						{% endfor %}
						<br><input type="submit" name="button" value="Pick Cards">
					</form>
				
			{% elif not over and player_logged_in %}
				<h4> Waiting for other player </h4>
				<a class="btn btn-default" href=".">Refresh</a>
			{% elif over%}
				<h4>Game Over. {{game.winner.user.username}} wins.</h4>
				<a class="btn btn-default" href="{% url 'sun_tzu:new_game'%}">New Game</a>		
			{% endif %}
		
		</div>
	<div class="row">
			{% for province in game.province_set.all %}
			<div class="col-sm-5 province" id="{{province.name}}">
				<div class="row">
					<h3>{{province.name}}</h3>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<h3><strong>{{province.player_one_last_card}}</strong></h3>
					</div>
					<div class="col-xs-6">
						<span class="armies {{province.control}}"><strong>{{province.abs_armies}}</strong></h3>
					</div>
					<div class="col-xs-3">				
						<h3><strong>{{province.player_two_last_card}}</strong></h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						{% if province.player_one_played_six %}
							<h4 class="six-token">6</h4>
						{% endif %}
					</div>
					<div class="col-xs-6">
						<h4>{{province.round_one_points}} | {{province.round_two_points}} | {{province.round_three_points}}</h4>
					</div>
					<div class="col-xs-3">				
						{% if province.player_two_played_six %}
							<h4 class="six-token">6</h4>
						{% endif %}	
					</div>
					
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
</div>

{% endblock %}