{% extends "sun_tzu/base.html" %}
{% load static %}
{% load sun_tzu_extras %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock %}

{% block body_block %}
<div class="container" align = "center">
	<h2>Game {{ game.game_id }}</h2>
		<div class="row" id="control_panel">
			{% if player_object.can_move and player_logged_in %}
			<h4>Cards to play</h4>
				<form method="POST">
				{%csrf_token%}
				{% for province in game.province_set.all %}
					<label for="{{province.name}}-select">{{province.name}}</label>
					<select name="{{province.name}}-select" id="{{province.name}}-select">
						{% for card in player_object.hand %}
						<option value="{{card.id}}">{{card.card_value}}</option>
						{% endfor %}
					</select>
				{% endfor %}
				<input type="submit" name="button" value="Play Cards">
				</form>
				{% if not valid %}
					<p>A card cannot be played in multiple provinces.</p>
				{% endif %}
				{% if sixes_error %}
					<p>A 6 cannot be played in the same province twice in one game.</p>
				{% endif %}			
			{% elif player_object.can_pick and player_logged_in %}
				<h4>Next Cards</h4>
					<form method="POST">
						{%csrf_token%}
						{% for card in player_object.next_cards %}
							<label class="checkbox-inline"><input type="checkbox" name="{{card.id}}-select" value={{card.id}}>{{card.card_value}}</label>
						{% endfor %}
						<br><input type="submit" name="button" value="Pick Cards">
					</form>
				
			{% else %}
				<h4> Waiting for other player </h4>
				<a class="btn btn-default" href=".">Refresh</a>
			{% endif %}
		
		</div>
	<div class="row">
		<div class="col-xs-4">
			<h3>Player One</h3>
			<h4>card_number: {{player_one_obj.card_number}}</h4>
			<h4>phase: {{player_one_obj.phase}}</h4>

			<ol>
				{% for card in player_one_obj.see_cards %}
				<li>{{card.card_value}}</li>
				{% endfor %}
			</ol>
		</div>
		<div class="col-xs-4">
			{% for province in game.province_set.all %}
			<div class="province">
				<div class="row">
					<h3>{{province.name}}</h3>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<h3>{{province.player_one_card}}</h3>
					</div>
					<div class="col-xs-6">
						<span class="armies"><strong>{{province.armies}}</strong></h3>
					</div>
					<div class="col-xs-3">				
						<h3>{{province.player_two_card}}</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						{% if province.player_one_played_six %}
							<h4>6</h4>
						{% endif %}
					</div>
					<div class="col-xs-6">
						<h4>{{province.round_one_points}} | {{province.round_two_points}} | {{province.round_two_points}}</h4>
					</div>
					<div class="col-xs-3">				
						{% if province.player_two_played_six %}
							<h4>6</h4>
						{% endif %}	
					</div>
					
				</div>				
			</div>
			{% endfor %}
		</div>
		<div class="col-xs-4">
			<h3>Player Two</h3>
			<h4>card_number: {{player_two_obj.card_number}}</h4>
			<h4>phase: {{player_two_obj.phase}}</h4>

			<ol>
				{% for card in player_two_obj.see_cards %}
				<li>{{card.card_value}}</li>
				{% endfor %}
			</ol>
		</div>
	</div>
	
</div>

{% endblock %}